@charset "utf-8";
/* CSS Document */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
iframe {
	vertical-align: bottom;
}


@media screen and (min-width: 768px) {
	a[href^="tel:"] {
		pointer-events: none;
	}
}
/*----------------------------------------------
全体
----------------------------------------------*/
body {
  font-family: Helvetica,  "メイリオ", Meiryo, sans-serif;
	font-size: 16px;
	line-height: 1.6;
	color: #656565;
}
.mincho {
  font-family: 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", HGS明朝E, メイリオ, Meiryo, serif;
}
.gothic {
  font-family: Roboto,'Noto Sans JP', Arial, Helvetica, "Droid Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "游ゴシック", YuGothic, sans-serif;
}
.fw100   {
    font-weight:100
    }
 
.fw400   {
    font-weight:400
    }
.fw700   {
    font-weight:700
    }
 
.fw900   {
    font-weight:900
    }

/******************************************************/
/* class */
/******************************************************/

.img_base{width:auto;}
.img_link a:hover img{opacity: 0.7;}

.center{text-align:center!important;}
.right{text-align:right!important;}
.left{text-align:left!important;}

.mt0{margin-top:0px!important;}
.mt1{margin-top:1px!important;}
.mt2{margin-top:2px!important;}
.mt3{margin-top:3px!important;}
.mt4{margin-top:4px!important;}
.mt5{margin-top:5px!important;}
.mt6{margin-top:6px!important;}
.mt7{margin-top:7px!important;}
.mt8{margin-top:8px!important;}
.mt9{margin-top:9px!important;}
.mt10{margin-top:10px!important;}
.mt15{margin-top:15px!important;}
.mt20{margin-top:20px!important;}
.mt25{margin-top:25px!important;}
.mt30{margin-top:30px!important;}
.mt35{margin-top:35px!important;}
.mt40{margin-top:40px!important;}
.mt45{margin-top:45px!important;}
.mt50{margin-top:50px!important;}
.mt60{margin-top:60px!important;}
.mt70{margin-top:70px!important;}
.mt80{margin-top:80px!important;}
.mt100{margin-top:100px!important;}
.ml0{margin-left:0px!important;}
.ml1{margin-left:1px!important;}
.ml2{margin-left:2px!important;}
.ml3{margin-left:3px!important;}
.ml4{margin-left:4px!important;}
.ml5{margin-left:5px!important;}
.ml6{margin-left:6px!important;}
.ml7{margin-left:7px!important;}
.ml8{margin-left:8px!important;}
.ml9{margin-left:9px!important;}
.ml10{margin-left:10px!important;}
.ml5{margin-left:5px!important;}
.ml10{margin-left:10px!important;}
.ml15{margin-left:15px!important;}
.ml20{margin-left:20px!important;}
.ml25{margin-left:25px!important;}
.ml30{margin-left:30px!important;}
.ml35{margin-left:35px!important;}
.ml40{margin-left:40px!important;}
.ml45{margin-left:45px!important;}
.ml50{margin-left:50px!important;}
.mb0{margin-bottom:0px!important;}
.mb1{margin-bottom:1px!important;}
.mb2{margin-bottom:2px!important;}
.mb3{margin-bottom:3px!important;}
.mb4{margin-bottom:4px!important;}
.mb5{margin-bottom:5px!important;}
.mb6{margin-bottom:6px!important;}
.mb7{margin-bottom:7px!important;}
.mb8{margin-bottom:8px!important;}
.mb9{margin-bottom:9px!important;}
.mb10{margin-bottom:10px!important;}
.mb15{margin-bottom:15px!important;}
.mb20{margin-bottom:20px!important;}
.mb25{margin-bottom:25px!important;}
.mb30{margin-bottom:30px!important;}
.mb35{margin-bottom:35px!important;}
.mb40{margin-bottom:40px!important;}
.mb45{margin-bottom:45px!important;}
.mb50{margin-bottom:50px!important;}
.mr0{margin-right:0px!important;}
.mr1{margin-right:1px!important;}
.mr2{margin-right:2px!important;}
.mr3{margin-right:3px!important;}
.mr4{margin-right:4px!important;}
.mr5{margin-right:5px!important;}
.mr6{margin-right:6px!important;}
.mr7{margin-right:7px!important;}
.mr8{margin-right:8px!important;}
.mr9{margin-right:9px!important;}
.mr10{margin-right:10px!important;}
.mr15{margin-right:15px!important;}
.mr20{margin-right:20px!important;}
.mr25{margin-right:25px!important;}
.mr30{margin-right:30px!important;}
.mr35{margin-right:35px!important;}
.mr40{margin-right:40px!important;}
.mr45{margin-right:45px!important;}
.mr50{margin-right:50px!important;}
.pt0{padding-top:0px!important;}
.pt1{padding-top:1px!important;}
.pt2{padding-top:2px!important;}
.pt3{padding-top:3px!important;}
.pt4{padding-top:4px!important;}
.pt5{padding-top:5px!important;}
.pt6{padding-top:6px!important;}
.pt7{padding-top:7px!important;}
.pt8{padding-top:8px!important;}
.pt9{padding-top:9px!important;}
.pt10{padding-top:10px!important;}
.pt15{padding-top:15px!important;}
.pt20{padding-top:20px!important;}
.pt25{padding-top:25px!important;}
.pt30{padding-top:30px!important;}
.pt35{padding-top:35px!important;}
.pt40{padding-top:40px!important;}
.pt45{padding-top:45px!important;}
.pt50{padding-top:50px!important;}
.pt60{padding-top:60px!important;}
.pt70{padding-top:70px!important;}
.pt80{padding-top:80px!important;}
.pt90{padding-top:90px!important;}
.pt100{padding-top:100px!important;}
.pl0{padding-left:0px!important;}
.pl1{padding-left:1px!important;}
.pl2{padding-left:2px!important;}
.pl3{padding-left:3px!important;}
.pl4{padding-left:4px!important;}
.pl5{padding-left:5px!important;}
.pl6{padding-left:6px!important;}
.pl7{padding-left:7px!important;}
.pl8{padding-left:8px!important;}
.pl9{padding-left:9px!important;}
.pl10{padding-left:10px!important;}
.pl15{padding-left:15px!important;}
.pl20{padding-left:20px!important;}
.pl25{padding-left:25px!important;}
.pl30{padding-left:30px!important;}
.pl35{padding-left:35px!important;}
.pl40{padding-left:40px!important;}
.pl45{padding-left:45px!important;}
.pl50{padding-left:50px!important;}
.pb0{padding-bottom:0px!important;}
.pb1{padding-bottom:1px!important;}
.pb2{padding-bottom:2px!important;}
.pb3{padding-bottom:3px!important;}
.pb4{padding-bottom:4px!important;}
.pb5{padding-bottom:5px!important;}
.pb6{padding-bottom:6px!important;}
.pb7{padding-bottom:7px!important;}
.pb8{padding-bottom:8px!important;}
.pb9{padding-bottom:9px!important;}
.pb10{padding-bottom:10px!important;}
.pb15{padding-bottom:15px!important;}
.pb20{padding-bottom:20px!important;}
.pb25{padding-bottom:25px!important;}
.pb30{padding-bottom:30px!important;}
.pb35{padding-bottom:35px!important;}
.pb40{padding-bottom:40px!important;}
.pb45{padding-bottom:45px!important;}
.pb50{padding-bottom:50px!important;}
.pr0{padding-right:0px!important;}
.pr1{padding-right:1px!important;}
.pr2{padding-right:2px!important;}
.pr3{padding-right:3px!important;}
.pr4{padding-right:4px!important;}
.pr5{padding-right:5px!important;}
.pr6{padding-right:6px!important;}
.pr7{padding-right:7px!important;}
.pr8{padding-right:8px!important;}
.pr9{padding-right:9px!important;}
.pr10{padding-right:10px!important;}
.pr15{padding-right:15px!important;}
.pr20{padding-right:20px!important;}
.pr25{padding-right:25px!important;}
.pr30{padding-right:30px!important;}
.pr35{padding-right:35px!important;}
.pr40{padding-right:40px!important;}
.pr45{padding-right:45px!important;}
.pr50{padding-right:50px!important;}
.w10{width:10px!important;}
.w20{width:20px!important;}
.w30{width:30px!important;}
.w40{width:40px!important;}
.w50{width:50px!important;}
.w60{width:60px!important;}
.w70{width:70px!important;}
.w80{width:80px!important;}
.w90{width:90px!important;}
.w100{width:100px!important;}
.w110{width:110px!important;}
.w120{width:120px!important;}
.w130{width:130px!important;}
.w140{width:140px!important;}
.w150{width:150px!important;}
.w160{width:160px!important;}
.w170{width:170px!important;}
.w180{width:180px!important;}
.w190{width:190px!important;}
.w200{width:200px!important;}
.w210{width:210px!important;}
.w220{width:220px!important;}
.w230{width:230px!important;}
.w240{width:240px!important;}
.w250{width:250px!important;}
.w260{width:260px!important;}
.w270{width:270px!important;}
.w280{width:280px!important;}
.w290{width:290px!important;}
.w300{width:300px!important;}
.w310{width:310px!important;}
.w320{width:320px!important;}
.w330{width:330px!important;}
.w340{width:340px!important;}
.w350{width:350px!important;}
.w360{width:360px!important;}
.w370{width:370px!important;}
.w380{width:380px!important;}
.w390{width:390px!important;}
.w400{width:400px!important;}
.w410{width:410px!important;}
.w420{width:420px!important;}
.w430{width:430px!important;}
.w440{width:440px!important;}
.w450{width:450px!important;}
.w460{width:460px!important;}
.w470{width:470px!important;}
.w480{width:480px!important;}
.w490{width:490px!important;}
.w500{width:500px!important;}
.w510{width:510px!important;}
.w520{width:520px!important;}
.w530{width:530px!important;}
.w540{width:540px!important;}
.w550{width:550px!important;}
.w560{width:560px!important;}
.w570{width:570px!important;}
.w580{width:580px!important;}
.w590{width:590px!important;}
.w600{width:600px!important;}
.w610{width:610px!important;}
.w620{width:620px!important;}
.w630{width:630px!important;}
.w640{width:640px!important;}
.w650{width:650px!important;}
.w660{width:660px!important;}
.w670{width:670px!important;}
.w680{width:680px!important;}
.w690{width:690px!important;}
.w700{width:700px!important;}
.w710{width:710px!important;}
.w720{width:720px!important;}
.w730{width:730px!important;}
.w740{width:740px!important;}
.w750{width:750px!important;}
.w760{width:760px!important;}
.w770{width:770px!important;}
.w780{width:780px!important;}
.w790{width:790px!important;}
.w800{width:800px!important;}
.w810{width:810px!important;}
.w820{width:820px!important;}
.w830{width:830px!important;}
.w840{width:840px!important;}
.w850{width:850px!important;}
.w860{width:860px!important;}
.w870{width:870px!important;}
.w880{width:880px!important;}
.w890{width:890px!important;}
.w900{width:900px!important;}
.w910{width:910px!important;}
.w920{width:920px!important;}
.w930{width:930px!important;}
.w940{width:940px!important;}
.w950{width:950px!important;}


/******************************************************/
/*   スマートフォン表示の時  */
/******************************************************/


@media screen and (max-width:739px) {
.centerSP{text-align:center!important;}
.rightSP{text-align:right!important;}
.leftSP{text-align:left!important;}
.m15SP{margin:15px!important;}
.mt0SP{margin-top:0px!important;}
.mt1SP{margin-top:1px!important;}
.mt2SP{margin-top:2px!important;}
.mt3SP{margin-top:3px!important;}
.mt4SP{margin-top:4px!important;}
.mt5SP{margin-top:5px!important;}
.mt6SP{margin-top:6px!important;}
.mt7SP{margin-top:7px!important;}
.mt8SP{margin-top:8px!important;}
.mt9SP{margin-top:9px!important;}
.mt10SP{margin-top:10px!important;}
.mt-10SP{margin-top:-10px!important;}
.mt15SP{margin-top:15px!important;}
.mt-15SP{margin-top:-15px!important;}
.mt20SP{margin-top:20px!important;}
.mt25SP{margin-top:25px!important;}
.mt30SP{margin-top:30px!important;}
.mt-30SP{margin-top:-30px!important;}
.mt35SP{margin-top:35px!important;}
.mt40SP{margin-top:40px!important;}
.mt45SP{margin-top:45px!important;}
.mt50SP{margin-top:50px!important;}
.mt-50SP{margin-top:-50px!important;}
.ml0SP{margin-left:0px!important;}
.ml1SP{margin-left:1px!important;}
.ml2SP{margin-left:2px!important;}
.ml3SP{margin-left:3px!important;}
.ml4SP{margin-left:4px!important;}
.ml5SP{margin-left:5px!important;}
.ml6SP{margin-left:6px!important;}
.ml7SP{margin-left:7px!important;}
.ml8SP{margin-left:8px!important;}
.ml9SP{margin-left:9px!important;}
.ml10SP{margin-left:10px!important;}
.ml5SP{margin-left:5px!important;}
.ml10SP{margin-left:10px!important;}
.ml15SP{margin-left:15px!important;}
.ml16SP{margin-left:16px!important;}
.ml17SP{margin-left:17px!important;}
.ml18SP{margin-left:18px!important;}
.ml20SP{margin-left:20px!important;}
.ml25SP{margin-left:25px!important;}
.ml30SP{margin-left:30px!important;}
.ml35SP{margin-left:35px!important;}
.ml40SP{margin-left:40px!important;}
.ml45SP{margin-left:45px!important;}
.ml50SP{margin-left:50px!important;}
.mb0SP{margin-bottom:0px!important;}
.mb1SP{margin-bottom:1px!important;}
.mb2SP{margin-bottom:2px!important;}
.mb3SP{margin-bottom:3px!important;}
.mb4SP{margin-bottom:4px!important;}
.mb5SP{margin-bottom:5px!important;}
.mb6SP{margin-bottom:6px!important;}
.mb7SP{margin-bottom:7px!important;}
.mb8SP{margin-bottom:8px!important;}
.mb9SP{margin-bottom:9px!important;}
.mb10SP{margin-bottom:10px!important;}
.mb-10SP{margin-bottom:-10px!important;}
.mb15SP{margin-bottom:15px!important;}
.mb20SP{margin-bottom:20px!important;}
.mb25SP{margin-bottom:25px!important;}
.mb30SP{margin-bottom:30px!important;}
.mb35SP{margin-bottom:35px!important;}
.mb40SP{margin-bottom:40px!important;}
.mb45SP{margin-bottom:45px!important;}
.mb50SP{margin-bottom:50px!important;}
.mb-50SP{margin-bottom:-50px!important;}
.mr0SP{margin-right:0px!important;}
.mr1SP{margin-right:1px!important;}
.mr2SP{margin-right:2px!important;}
.mr3SP{margin-right:3px!important;}
.mr4SP{margin-right:4px!important;}
.mr5SP{margin-right:5px!important;}
.mr6SP{margin-right:6px!important;}
.mr7SP{margin-right:7px!important;}
.mr8SP{margin-right:8px!important;}
.mr9SP{margin-right:9px!important;}
.mr10SP{margin-right:10px!important;}
.mr15SP{margin-right:15px!important;}
.mr20SP{margin-right:20px!important;}
.mr25SP{margin-right:25px!important;}
.mr30SP{margin-right:30px!important;}
.mr35SP{margin-right:35px!important;}
.mr40SP{margin-right:40px!important;}
.mr45SP{margin-right:45px!important;}
.mr50SP{margin-right:50px!important;}
  
.p-20SP{padding:-20px!important;}
  
.pt0SP{padding-top:0px!important;}
.pt1SP{padding-top:1px!important;}
.pt2SP{padding-top:2px!important;}
.pt3SP{padding-top:3px!important;}
.pt4SP{padding-top:4px!important;}
.pt5SP{padding-top:5px!important;}
.pt6SP{padding-top:6px!important;}
.pt7SP{padding-top:7px!important;}
.pt8SP{padding-top:8px!important;}
.pt9SP{padding-top:9px!important;}
.pt10SP{padding-top:10px!important;}
.pt15SP{padding-top:15px!important;}
.pt20SP{padding-top:20px!important;}
.pt25SP{padding-top:25px!important;}
.pt30SP{padding-top:30px!important;}
.pt35SP{padding-top:35px!important;}
.pt40SP{padding-top:40px!important;}
.pt45SP{padding-top:45px!important;}
.pt50SP{padding-top:50px!important;}
.pt-10SP{padding-top:-10px!important;}
.pt-15SP{padding-top:-15px!important;}
.pt-20SP{padding-top:-20px!important;}
.pt-25SP{padding-top:-25px!important;}
.pt-30SP{padding-top:-30px!important;}
.pt-35SP{padding-top:-35px!important;}
.pt-40SP{padding-top:-40px!important;}
.pt-45SP{padding-top:-45px!important;}
.pt-50SP{padding-top:-50px!important;}
.pl0SP{padding-left:0px!important;}
.pl1SP{padding-left:1px!important;}
.pl2SP{padding-left:2px!important;}
.pl3SP{padding-left:3px!important;}
.pl4SP{padding-left:4px!important;}
.pl5SP{padding-left:5px!important;}
.pl6SP{padding-left:6px!important;}
.pl7SP{padding-left:7px!important;}
.pl8SP{padding-left:8px!important;}
.pl9SP{padding-left:9px!important;}
.pl10SP{padding-left:10px!important;}
.pl15SP{padding-left:15px!important;}
.pl20SP{padding-left:20px!important;}
.pl25SP{padding-left:25px!important;}
.pl30SP{padding-left:30px!important;}
.pl35SP{padding-left:35px!important;}
.pl40SP{padding-left:40px!important;}
.pl45SP{padding-left:45px!important;}
.pl50SP{padding-left:50px!important;}
.pb0SP{padding-bottom:0px!important;}
.pb1SP{padding-bottom:1px!important;}
.pb2SP{padding-bottom:2px!important;}
.pb3SP{padding-bottom:3px!important;}
.pb4SP{padding-bottom:4px!important;}
.pb5SP{padding-bottom:5px!important;}
.pb6SP{padding-bottom:6px!important;}
.pb7SP{padding-bottom:7px!important;}
.pb8SP{padding-bottom:8px!important;}
.pb9SP{padding-bottom:9px!important;}
.pb10SP{padding-bottom:10px!important;}
.pb15SP{padding-bottom:15px!important;}
.pb20SP{padding-bottom:20px!important;}
.pb25SP{padding-bottom:25px!important;}
.pb30SP{padding-bottom:30px!important;}
.pb35SP{padding-bottom:35px!important;}
.pb40SP{padding-bottom:40px!important;}
.pb45SP{padding-bottom:45px!important;}
.pb50SP{padding-bottom:50px!important;}
.pr0SP{padding-right:0px!important;}
.pr1SP{padding-right:1px!important;}
.pr2SP{padding-right:2px!important;}
.pr3SP{padding-right:3px!important;}
.pr4SP{padding-right:4px!important;}
.pr5SP{padding-right:5px!important;}
.pr6SP{padding-right:6px!important;}
.pr7SP{padding-right:7px!important;}
.pr8SP{padding-right:8px!important;}
.pr9SP{padding-right:9px!important;}
.pr10SP{padding-right:10px!important;}
.pr15SP{padding-right:15px!important;}
.pr20SP{padding-right:20px!important;}
.pr25SP{padding-right:25px!important;}
.pr30SP{padding-right:30px!important;}
.pr35SP{padding-right:35px!important;}
.pr40SP{padding-right:40px!important;}
.pr45SP{padding-right:45px!important;}
.pr50SP{padding-right:50px!important;}

.w150pSP{width: 150%!important}
.w100pSP{width: 100%!important}
.w90pSP{width: 90%!important}
.w80pSP{width: 80%!important}
.w70pSP{width: 70%!important}
.w60pSP{width: 60%!important}
.w50pSP{width: 50%!important}
.w40pSP{width: 40%!important}
.w30pSP{width: 30%!important}
.w20pSP{width: 20%!important}
.w10pSP{width: 10%!important}

.h100pSP{height: 100%!important}
.h90pSP{height: 90%!important}
.h80pSP{height: 80%!important}
.h70pSP{height: 70%!important}
.h60pSP{height: 60%!important}
.h50pSP{height: 50%!important}
.h40pSP{height: 40%!important}
.h30pSP{height: 30%!important}
.h20pSP{height: 20%!important}
.h10pSP{height: 10%!important}

.h100SP{height:100px!important;}
.h110SP{height:110px!important;}
.h120SP{height:120px!important;}
.h130SP{height:130px!important;}
.h140SP{height:140px!important;}
.h150SP{height:150px!important;}
.h160SP{height:160px!important;}
.h170SP{height:170px!important;}
.h180SP{height:180px!important;}
.h190SP{height:190px!important;}
.h200SP{height:200px!important;}
  
.w10SP{width:10px!important;}
.w20SP{width:20px!important;}
.w30SP{width:30px!important;}
.w40SP{width:40px!important;}
.w50SP{width:50px!important;}
.w60SP{width:60px!important;}
.w70SP{width:70px!important;}
.w80SP{width:80px!important;}
.w90SP{width:90px!important;}
.w100SP{width:100px!important;}
.w110SP{width:110px!important;}
.w120SP{width:120px!important;}
.w130SP{width:130px!important;}
.w140SP{width:140px!important;}
.w150SP{width:150px!important;}
.w160SP{width:160px!important;}
.w170SP{width:170px!important;}
.w180SP{width:180px!important;}
.w190SP{width:190px!important;}
.w200SP{width:200px!important;}
.w210SP{width:210px!important;}
.w220SP{width:220px!important;}
.w230SP{width:230px!important;}
.w240SP{width:240px!important;}
.w250SP{width:250px!important;}
.w260SP{width:260px!important;}
.w270SP{width:270px!important;}
.w280SP{width:280px!important;}
.w290SP{width:290px!important;}
.w300SP{width:300px!important;}
.w310SP{width:310px!important;}
.w320SP{width:320px!important;}
.w330SP{width:330px!important;}
.w340SP{width:340px!important;}
.w350SP{width:350px!important;}
.w360SP{width:360px!important;}
.w370SP{width:370px!important;}
.w380SP{width:380px!important;}
.w390SP{width:390px!important;}
.w400SP{width:400px!important;}
.w410SP{width:410px!important;}
.w420SP{width:420px!important;}
.w430SP{width:430px!important;}
.w440SP{width:440px!important;}
.w450SP{width:450px!important;}
.w460SP{width:460px!important;}
.w470SP{width:470px!important;}
.w480SP{width:480px!important;}
.w490SP{width:490px!important;}
.w500SP{width:500px!important;}
.w510SP{width:510px!important;}
.w520SP{width:520px!important;}
.w530SP{width:530px!important;}
.w540SP{width:540px!important;}
.w550SP{width:550px!important;}
.w560SP{width:560px!important;}
.w570SP{width:570px!important;}
.w580SP{width:580px!important;}
.w590SP{width:590px!important;}
.w600SP{width:600px!important;}
.w610SP{width:610px!important;}
.w620SP{width:620px!important;}
.w630SP{width:630px!important;}
.w640SP{width:640px!important;}
.w650SP{width:650px!important;}
.w660SP{width:660px!important;}
.w670SP{width:670px!important;}
.w680SP{width:680px!important;}
.w690SP{width:690px!important;}
.w700SP{width:700px!important;}
.w710SP{width:710px!important;}
.w720SP{width:720px!important;}
.w730SP{width:730px!important;}
.w740SP{width:740px!important;}
.w750SP{width:750px!important;}
.w760SP{width:760px!important;}
.w770SP{width:770px!important;}
.w780SP{width:780px!important;}
.w790SP{width:790px!important;}
.w800SP{width:800px!important;}
.w810SP{width:810px!important;}
.w820SP{width:820px!important;}
.w830SP{width:830px!important;}
.w840SP{width:840px!important;}
.w850SP{width:850px!important;}
.w860SP{width:860px!important;}
.w870SP{width:870px!important;}
.w880SP{width:880px!important;}
.w890SP{width:890px!important;}
.w900SP{width:900px!important;}
.w910SP{width:910px!important;}
.w920SP{width:920px!important;}
.w930SP{width:930px!important;}
.w940SP{width:940px!important;}
.w950SP{width:950px!important;}
.mtn20SP{margin-top:-20px!important;}
.mtn30SP{margin-top:-30px!important;}
}

.bdNone{border:none!important;}
.bdtNone{border-top:none!important;}
.bdrNone{border-right:none!important;}
.bdbNone{border-bottom:none!important;}
.bdlNone{border-left:none!important;}

.bgNone{background:none!important;}

.vtop{vertical-align:top!important;}
.vmiddle{vertical-align:middle!important;}
.vtop{vertical-align:top!important;}
.vbottom{vertical-align:bottom!important;}

.fnt80{font-size:80%!important;}
.fnt85{font-size:85%!important;}
.fnt90{font-size:90%!important;}
.fnt95{font-size:95%!important;}
.fnt100{font-size:100%!important;}
.fnt110{font-size:110%!important;}
.fnt120{font-size:120%!important;}
.fnt130{font-size:130%!important;}
.fnt140{font-size:140%!important;}
.fnt150{font-size:150%!important;}


/******************************************************/
/*   スマートフォン表示の時  */
/******************************************************/


@media screen and (max-width:739px) {
.fnt10SP{font-size:10%!important;}
.fnt20SP{font-size:20%!important;}
.fnt30SP{font-size:30%!important;}
.fnt40SP{font-size:40%!important;}
.fnt50SP{font-size:50%!important;}
.fnt60SP{font-size:60%!important;}
.fnt70SP{font-size:70%!important;}
.fnt80SP{font-size:80%!important;}
.fnt85SP{font-size:85%!important;}
.fnt90SP{font-size:90%!important;}
.fnt95SP{font-size:95%!important;}
.fnt100SP{font-size:100%!important;}
.fnt110SP{font-size:110%!important;}
.fnt120SP{font-size:120%!important;}
.fnt130SP{font-size:130%!important;}
.fnt140SP{font-size:140%!important;}
.fnt140SP{font-size:150%!important;}
}


.strong{font-weight:bold!important;}
.bold{font-weight:bold!important;}
.normal{font-weight:normal!important;}
.blue{color:#1a6bff;}
.red{color:#fd4f4f;}

.floR{float:right!important;}
.floL{float:left!important;}
.floNone{float:none!important;}

.block{display:block;}
.none{display:none;}
.inline{display:inline;}

.marginAuto{margin-left:auto!important;margin-right:auto!important;}


/******************************************************/
/* clear */
/******************************************************/
.clearBoth{clear: both;}
.clear{display:inline-block;}
.clear:after{content:".";display:block;height:0;visibility:hidden;clear:both;}
/* Hides MacIE5 \*/
* html .clear{height:1%;}
.clear{display:block;}
/* Hides MacIE5 */


/* clear */ 
.clearBox{display:inline-block;}
.clearBox:after{content:".";display:block;height:0;visibility:hidden;clear:both;} 
/* Hides MacIE5 \*/ 
* html .clearBox{height:1%;}
.clearBox{display:block;} 
/* Hides MacIE5 */


.embed {
    width: 100%;
}


img {
	width: 100%;
	height: auto;
	vertical-align: bottom;
}
p {
  font-size: 14px;
}
* {
	box-sizing: border-box;
}
#wrapper {
  width: 100%;
  margin: 0 auto;
}
#main {
	overflow: hidden;
	margin-top: 0px;
}
section {
  margin: 0;
  padding: 40px 0;
  text-align: center;
}
section .inner {
  padding: 0;
  width: 92%;
  margin: 0 auto;
}
section .over_inner {
  padding: 0 0 40px;
  width: 100%;
  margin: 0 ;
}
.totop {
    display: none;
}
/* リンク------ */
a {
	color: #333;
	text-decoration: none;
}
.btn_toi {
  text-align: center;
  margin-top: 40px;
  font-size:14px;
}
.btn_toi a {
  width: 240px;
  display: block;
  padding: 15px;
  border: 1px solid #707070;
  background: #ffffff;
  text-align: center;
  margin: 0 auto;
}
.btn_toi a:hover {
  opacity: 0.7;
}
.btn_toi a:after {
    content: "\f35a";
    font-family: "Font Awesome 5 Free";
    padding-left: .5rem;
    font-weight: 900;
}

/* カラー------ */
.cl_soubu { color:#f8bb00;}
.cl_mita { color:#2E6AB1;}
.cl_chuo { color: #008000;}
.cl_yotsu { color: #2792c3;}
.pc {
	display: none;
}
.cl_medical { color:#ADA142;}
.cl_beauty { color:#DC143C;}
.cl_physio{ color:#000000;}

@media screen and (min-width: 768px) {
a[href^="tel:"] {
	pointer-events: none;
}
.pc {
	display: block;
}
.sp {
	display: none;
}
#wrapper {
  max-width: 1280px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
	main {
  margin-top: 40px;
  font-size: 16px;
}
section {
  margin: 0;
  padding: 50px 0;
  text-align: center;
}
section .inner {
  padding: 0;
  width: 92%;
  margin: 0 auto;
  max-width: 1280px;
}
.btn_toi {
  font-size:16px;
}
  p {
  font-size: 16px;
  }
.totop {
  display: block;
  position: fixed;
  bottom: 15px;
  right: 15px;
  }
.totop a {
  opacity: 0.7;
}
}

/*----------------------------------------------
ヘッダー
----------------------------------------------*/
#header {
	height: 60px;
	position: relative;
	/*z-index: 999;*/
	font-family: "メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
	text-align: left;
}
#header .logo {
	display: inline-block;
	position:  fixed;
	background: #fff;
	padding: 15px 0 0 10px;
	width: 100%;
	height: 60px;
	z-index: 2;
}
#header .logo img {
	width: auto;
	height: 30px;
}


/*　SPハンバーガーボタン　*/
.hamburger {
  display : block;
  position: fixed;
  z-index : 3;
  right : 13px;
  top   : 12px;
  width : 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
	border: 1px solid #ccc;
  border-radius: 2px;
  background: #fff;
}
.hamburger span {
  display : block;
  position: absolute;
  width   : 30px;
  height  : 2px ;
  left    : 6px;
  background : #555;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition   : 0.3s ease-in-out;
  transition        : 0.3s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 10px;
}
.hamburger span:nth-child(2) {
  top: 20px;
}
.hamburger span:nth-child(3) {
  top: 30px;
}

/* ナビ開いてる時のボタン */
.hamburger.active span:nth-child(1) {
  top : 16px;
  left: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform   : rotate(-45deg);
  transform        : rotate(-45deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
  top: 16px;
  -webkit-transform: rotate(45deg);
  -moz-transform   : rotate(45deg);
  transform        : rotate(45deg);
}

nav.globalMenuSp {
  position: fixed;
  z-index : 99;
  top  : 60px;
  left : 0;
  color: #000;
  background: rgba(255,255,255,0.8);
  text-align: center;
  transform: translateX(100%);
  transition: all 0.6s;
  width: 100%;
  height: calc(100% - 60px);
  overflow-y: scroll;
}
nav.globalMenuSp ul {
  background: rgba(255,255,255,0.8);
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
nav.globalMenuSp .gNaviListSp {
  text-align: left;
}
nav.globalMenuSp .gNaviListSp > li > a{
  position: relative;
  padding-left: 20px;

}
nav.globalMenuSp .gNaviListSp > li > a::before {
  content: "\f0d7";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
  transition: transform .3s;
  color: #707070;
  font-weight: bold;
}
nav.globalMenuSp .gNaviListSp > li.active > a::before {
  transform: translate(0, -50%) rotate(180deg);
  transition: transform .3s;

}
nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
nav.globalMenuSp ul li:hover{
  background :#ddd;
}
nav.globalMenuSp ul li a {
  display: block;
  color: #000;
  padding: 1em 0;
  text-decoration :none;
}
/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
  transform: translateX(0%);
}
nav.globalMenuSp .h_toi {
	margin: 10px 10px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
nav.globalMenuSp .h_toi a {
  width: calc(100% / 2 - 2%);
	display: block;
	background: #707070;
	color: #fff;
	border-radius: 20px;
	padding: 4px;
}
@media screen and (min-width: 768px) {
header {
  display: none;
}
}
/* gNaviChildSp */
.globalMenuSp .gNaviChildSp li a {
  padding: 0.8em 0 0.8em 40px;
  background: #f3f3f3;
  color: #333;
  font-size: 14px;
}
/*　PCグローバルナビ　*/
.g_line {
  margin:0 auto;
	border-bottom: 1px solid #ccc;
  background: rgba(255,255,255,0.8);
  position: relative;
}
#globalNavi {	display:none;}

@media screen and (min-width: 768px) {
header {	display:none;}

#globalNavi {
  display:flex;
  opacity: 1;
  /*transform: translate(0);*/
  max-width: 1280px;
  margin: 0 auto;
  width: 92%;
}
#globalNavi .h_logo {
  display: inline-block;
  width: 10%;
  margin-top: 7px;
  }
#globalNavi > ul {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background: rgba(255,255,255,0.8);
  margin-left: 2%;
  width: 88%;
  padding: 0;
}
#globalNavi > ul li a {
  border-radius: 4px;
  color: #707070;
  padding: 8px 24px;
  font-size: 15px;
  position: relative;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
#globalNavi > ul a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
  z-index: 3;
}
#globalNavi > ul a:hover::after {
  transform: scale(1, 1);
}
#globalNavi > ul > li > a:hover {
    background: rgb(250,250,250);
}
#globalNavi > ul li.nav_img a {
  display: block;
  border-radius: 4px;
  color: #707070;
  padding: 0;
  text-decoration: none;
  width: 40px;
}
.fixed {
  position: fixed;
  top: 0;
  padding: 0;
  width: 100%;
  max-width: calc(1280px - 2px);
  margin: 0 auto;
  z-index: 1000;
}
}
/*-- gNaviChild -----*/
#globalNavi .gNaviChild {
  width: 100%;
  border-bottom: 1px #BA1C22 solid;
  position: absolute;
  top: 41px;
  left: 0;
  max-width: 1278px;
  background: #fff;
  z-index: 2;
  text-align: left;
}
#globalNavi .gNaviChild a:hover {
  opacity: .6;
}
#globalNavi .gNaviChild a::after {
  content: none;
}
#globalNavi .box_ttl {
  width: 100%;
  border-bottom: 1px #000 solid;
  font-family: 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", HGS明朝E, メイリオ, Meiryo, serif;
}
#globalNavi .gNaviList .box_ttl a {
  padding: 0 0 5px 24px;
}
#globalNavi .navi_box {
  width: 90%;
  margin: auto;
}
#globalNavi .box_inner {
  margin: 10px;
}

/* box_list */
#globalNavi .box_list {
  box-sizing: border-box;
  margin: 5px -10px;
  width: calc(100% / 3);
}
#globalNavi .box_list li {
  padding: 5px 10px;
}
#globalNavi .box_list.col2 {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% / 3 * 2);
}
#globalNavi .box_list.col2 li {
  width: calc(100% / 2);
}
#globalNavi .box_list.col3 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
#globalNavi .box_list.col3 li {
  width: calc(100% / 3);
}
#globalNavi .box_list li a {
  display: block;
  text-align: center;
  padding: 25px 20px;
  background-size: cover;
  background-position: center;
  color: #000;
  border: 1px #a5a5a5 solid;
  height: 100%;
}
#globalNavi .box_list .medical a {
  background-image: url(../img/top/gnav_medical.jpg);
}
#globalNavi .box_list .physio a {
  background-image: url(../img/top/gnav_physio.jpg);
}
#globalNavi .box_list .beauty a {
  background-image: url(../img/top/gnav_beauty.jpg);
}
#globalNavi .box_list .business a {
  background-image: url(../img/top/gnav_business.jpg);
}
#globalNavi .box_list .self a {
  background-image: url(../img/top/gnav_selfmedication.jpg);
}
#globalNavi .box_list .optimus a {
  background-image: url(../img/top/gnav_optimus.jpg);
}
#globalNavi .box_list .seminar01 a {
  background-image: url(../img/top/gnav_seminar01.jpg);
}
#globalNavi .box_list .seminar02 a {
  background-image: url(../img/top/gnav_seminar02.jpg);
}
#globalNavi .box_list .seminar03 a {
  background-image: url(../img/top/gnav_seminar03.jpg);
}
#globalNavi .box_list .seminar04 a {
  background-image: url(../img/top/gnav_seminar04.jpg);
}
#globalNavi .box_list .seminar05 a {
  background-image: url(../img/top/gnav_seminar05.jpg);
}
#globalNavi .box_list .campany a {
  background-image: url(../img/top/gnav_company.jpg);
}
#globalNavi .box_list .history a {
  background-image: url(../img/top/gnav_history.jpg);
}
#globalNavi .box_list .purchase a {
  background-image: url(../img/top/gnav_purchase.jpg);
}
#globalNavi .box_list .maintenance a {
  background-image: url(../img/top/gnav_maintenance.jpg);
}

/* list02 */
#globalNavi .box_list02 {
  padding: 10px 0;
}
#globalNavi .box_list02 li {
  position: relative;
}
#globalNavi .box_list02.col3 {
  display: flex;
  flex-wrap: wrap;
}
#globalNavi .box_list02.col3 li {
  width: calc(100% / 3);
}
#globalNavi .box_list02.col4 {
  display: flex;
  flex-wrap: wrap;
}
#globalNavi .box_list02.col4 li {
  width: calc(100% / 4);
}
#globalNavi .box_list02 li:before {
  content: "\f0da";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  top: 3px;
  left: 0;
  color: #707070;
  font-weight: bold;
}
#globalNavi .box_list02 li a {
  display: block;
  padding: 6px 10px 6px 20px;
}

/* box02 */
#globalNavi .box02 {
  display: flex;
}
#globalNavi .box02 .box_inner  {
  width: calc(100% / 5);
}
#globalNavi .box02 .box_inner:nth-child(2) {
  width: 60%;
}
#globalNavi .box02 .box_list02 li a {
  padding: 3px 10px 3px 20px;
}

/* box03 */
#globalNavi .box03 .box_inner {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}
#globalNavi .box03 .box_list02 {
  width: calc(100% / 3 + 20px);
  padding: 20px 0 0 60px;
}
/* box05 */
#globalNavi .box05 .box_inner {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}
#globalNavi .box05 .box_list02 {
  width: calc(100% / 3 * 2 + 20px);
  padding: 20px 0 0 40px;
}
/* box06 */
#globalNavi .box06 .box_inner {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}
#globalNavi .box06 .box_list02 {
  width: calc(100% / 3 * 2 + 20px);
  padding: 20px 0 0 40px;
}


@media screen and (min-width:769px) and ( max-width:1024px) {
  #globalNavi .gNaviList {
    margin-left: 2%;
    width: 85%;
  }
  #globalNavi .gNaviList a {
    padding: 8px 12px;
    font-size: 14px;
  }
  #globalNavi .h_logo {
    margin-top: 6px;
    width: 13%;
  }
  }

/*----------------------------------------------
フッター
----------------------------------------------*/
footer {
	font-family: "メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  background: #f8f8f8;
  font-size: 12px;
}
footer .f_left {
  padding: 20px;
  text-align: center;
}
footer .f_left p {
  font-size:12px;
}
footer .f_logo {
	display: inline-block;
  width: 134px;
  margin-bottom: 10px;
}
footer .f_logo a {
	display: block;
}
footer .f_right {
  margin: 10px 0 0 0;
}
footer .f_right .sns {
  margin: 0 auto;
  width: 60%;
}
footer .f_right .sns ul {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
footer .f_right .sns li {
  width: 30px;
}
footer .f_right .sns li.li_wide {
  width: 70px;
  text-align: center;
  line-height: 1.2;
}
footer .f_right .sns li img {
  width: 24px;
  margin-bottom: 4px;
}
footer .f_right .f-index {
  margin: 0 auto;
  width: 100%;
}
footer .f_right .f-index ul {
    display: flex;
    justify-content: center;
    margin: 20px ;
}
footer .f_right .f-index li {
  margin: 0 10px;
  border-right: 1px solid #cccccc;
  padding-right: 1.5rem;
}
footer .f_right .f-index li:last-child {
  border-right: none;
  padding-right: 0;
}
footer .f_copy {
  background: #000000;
  padding: 10px 0;
  text-align: center;
  font-size: 12px;
  color: #dddddd;
}
footer .f_copy a {
  color: #ffffff;
}
footer .f_right .f-index li a {
  color: #000000;
}
footer .f_copy a:hover ,footer .f_right .f-index li a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 767px) {

footer .f_right .sns {
    width: 100%;
}
footer .f_right .sns li {
    width: 40px;
}
footer .f_right .sns ul {
    justify-content: center;
}
}
@media screen and (min-width: 768px) {
  footer .inner {
    max-width: 1280px;
    width: 92%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    padding: 40px 0;
  }
footer .f_left {
  padding: 0;
  text-align: left;
  width: 50%;
}
footer .f_logo {
    width: 180px;
    margin-bottom: 20px;
}
footer .f_right {
  margin: 0;
  width: 50%;
}
footer .f_right .sns {
  margin-bottom: 10px;
  width: 100%;
}
footer .f_right .sns ul {
  justify-content: flex-end;
}
footer .f_right .sns li {
  width: 45px;
}
footer .f_right .sns li.li_wide {
    width: 140px;
    white-space: nowrap;
}
footer .f_right .f-index {
  margin: 0 auto;
  width: 100%;
  border-top: 1px solid #cccccc;
}
footer .f_right .sns li img {
  margin-bottom: 0px;
  margin-right: 4px;
  vertical-align: middle;
}
  footer .f_right .sns a:hover {
    opacity: 0.7;
  }
footer .f_right .f-index ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 10px 0;
  padding-top: 10px;
}
footer .f_right .f-index li {
  margin: 0 10px 15px;
  border-right: 1px solid #cccccc;
  padding-right: 1.5rem;
  }
  footer .f_right .f-index li:last-child {
  border-right: 1px solid #cccccc;
  padding-right: 1.5rem;
}
}
/*----------------------------
  上にもインスタ
----------------------------*/
.h_sns {
    margin: 10px 0 0 20%;
    width: 80%;
    text-align: right;}
.h_sns ul {
    font-size: 12px;
    display: flex;
    align-items: flex-end;
}
.h_sns li {
    width: 150px;
    margin-right: 10px;
}
.h_sns li img {
    width: 24px;
    margin-right: 5px;
}
span.reg { font-size:70%;}
@media screen and (min-width: 768px) {
.h_sns {
    margin: 20px auto 10px;
    width: 92%;
    position: relative;
}
.h_sns ul {
    text-align: right;
    width: 330px;
    position: absolute;
    right: 0;
}
.h_sns li {
    width: 160px;
}

}