/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* BODY */

html {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 60%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Inter", system-ui;
  font-size: 1.2vw;
}

/* BODY */
/* JINSO SERVICE BLOCK */

.jinso-service-block {
  position: relative;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0;
  position: relative;
}

.about-jinso-content,
.greeting-content,
.process-content,
.about-fees {
  position: absolute;
}

.about-jinso-content {
  top: 5%;
  left: 45%;
  justify-content: center;
  text-align: center;
}

.about-jinso-content h3 {
  margin-bottom: 2vw;
  color: #ffff;
  font-weight: 400;
  font-family: 'Noto Sans JP', serif;
  font-size: 1.5vw;
}

.about-jinso-content p {
  max-width: 60%;
  margin: 0 auto;
  padding-bottom: 2vw;
  text-align: justify;
  color: #ffff;
}

.greeting-content {
  top: 38%;
  justify-content: center;
  text-align: center;
}

.greeting-content h3 {
  margin-bottom: 2vw;
  color: #ffff;
  font-weight: 400;
  font-family: 'Noto Sans JP', serif;
  font-size: 1.5vw;
}

.greeting-content p {
  max-width: 40%;
  margin: 0 auto;
  padding-bottom: 2vw;
  text-align: justify;
  color: #ffff;
}

.process-content {
  top: 70%;
  right: 50%;
  text-align: center;
  justify-content: center;
  color: #2b2b2b;
}

.process-content h3 {
  margin-bottom: 2vw;
  font-weight: 400;
  font-family: 'Noto Sans JP', serif;
  font-size: 1.5vw;
}

.process-content p {
  padding-bottom: 2vw;
  max-width: 60%;
  text-align: justify;
  margin: 0 auto;
}

.about-fees {
  top: 70%;
  left: 50%;
  text-align: center;
  justify-content: center;
  color: #2b2b2b;
}

.about-fees h3 {
  margin-bottom: 2vw;
  font-weight: 400;
  font-family: 'Noto Sans JP', serif;
  font-size: 1.5vw;
}

.about-fees p {
  padding-bottom: 2vw;
  margin: 0 auto;
  text-align: justify;
  max-width: 60%;
}

.button-design button {
  min-width: 220px;
  min-height: 56px;
  font-size: 1.2em;
  border-radius: 100px;
  cursor: pointer;
  font-weight: 400;
  position: relative;
  border: 2px solid rgb(197, 97, 137);
  color: #a43549;
  background: #fff;
  overflow: hidden;
}

.button-design button a {
  text-decoration: none;
  color: inherit;
  background: transparent;
  border-radius: 100px;
  padding: 0px 70px;
  z-index: 1;
  position: relative;
  display: inline-flex;
  align-items: center;
  font-size: 1.2vw;
}

button i {
  font-size: 1.5em;
  margin-left: 10px;
  transition: all 0.5s linear;
  color: #dfeced;
}

.button-design button:hover i {
  transform: translateX(30px);
  color: #a10f5d;
}

.button-design button::before,
.button-design button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background-color: rgb(212, 102, 159);
  z-index: -1;
  transition: all 400ms ease-in;
}

.button-design button:hover {
  color: #e9409a;
}

.button-design button::before {
  opacity: 0.3;
}

.button-design button::after {
  transition-delay: 0.3s;
}

.button-design button:hover::before,
.button-design button:hover::after {
  top: 0;
}

/* BUTTON 2 */
.button-design2 button {
  background: none;
  justify-content: center;
  align-items: center;
  min-width: 220px;
  min-height: 56px;
  font-size: 1.2em;
  border-radius: 100px;
  cursor: pointer;
  font-weight: 400;
  position: relative;
  border: 2px solid rgb(248, 131, 14);
  color: #e27532;
  font-weight: 500;
  background-color: #fff;
  overflow: hidden;
}

.button-design2 button:hover i {
  transform: translateX(30px);
  color: #a15d0f;
}

.button-design2 button::before,
.button-design2 button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background-color: rgb(240, 146, 99);
  z-index: -1;
  transition: all 400ms ease-in;
}

.button-design2 button:hover {
  color: #ebb667;
}

.top-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-page .logo {
  display: flex;
  align-items: center;
  margin: 5px;
}

.font-region {
  background-color: #ececec;
  padding: 5px 0;
}

.font-region .fontSize dl {
  display: flex;
  align-items: center;
  margin-right: 10px;
  justify-content: end;
}

.font-region .fontSize dl dt {
  margin-right: 10px;
}

.font-region .fontSize button.active {
  background: transparent;
}

.font-region .fontSize button {
  background: #fff;
  color: #333;
  padding: 5px 5px;
  border: 1px solid #b9b9b9;
  border-left: 0;
  font-weight: bold;
  min-height: 35px;
  min-width: 35px;
  cursor: pointer;
  font-size: 1.7rem;
}

.font-region .fontSize dt {
  font-size: 1.7rem;
}

.font-region .fontSize dd:first-of-type button {
  border-left: 1px solid #b9b9b9;
}

.top-page .contact-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.top-page .contact-info .phone {
  display: flex;
  flex-direction: column;
  line-height: 3rem;
  position: relative;
}

.top-page .contact-info .phone .phone-number {
  font-size: 2.6rem;
  font-weight: 600;
  color: #c97373;
  font-family: 'Code39', sans-serif;
}

.top-page .contact-info .phone .phone-description {
  font-size: 1.1rem;
  font-family: 'Noto Sans JP', serif;
  font-weight: 500;
}

.navigation {
  background-color: #C97373;
}

.navigation ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  display: flex;
}

.navigation li {
  border-right: 1px solid #bbb;
  margin: 2.5rem 0;
  height: 2vw;
  display: flex;
  align-items: center;
}

.navigation li:last-child {
  border-right: none;
}

.navigation li a {
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 0 3rem;
  text-decoration: none;
  font-size: 1.8rem;
  font-family: 'Noto Sans JP', serif;
  font-weight: 400;
}

.footer-block {
  position: relative;
}

.footer-block .backgroud-footer {
  width: 100vw;
  height: 70rem;
}

.footer-block .footer-wrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}

.footer-block .footer-wrap .btn-download {
  font-size: 2rem;
  cursor: pointer;
  border: none;
  background: #fff;
  font-weight: 500;
  margin-top: 8rem;
}

.footer-block .footer-wrap .btn-download a {
  text-decoration: none;
  padding: 10px 80px;
  display: flex;
  color: #AF7171;
  align-items: center;
}

.footer-block .footer-wrap .content {
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;
}

.footer-block .footer-wrap .content .content-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 3.5rem;
  font-size: 2rem;
  font-family: 'Noto Sans JP', serif;
  font-weight: 400;
}

.footer-block .footer-wrap .content .content-left .access {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-block .footer-wrap .content .content-left .btn-access {
  font-size: 2rem;
  cursor: pointer;
  border: none;
  background: #fff;
  font-weight: 500;
  border-radius: 5px;
}

.footer-block .footer-wrap .content .content-left .btn-access a {
  text-decoration: none;
  display: flex;
  color: #a43549;
  align-items: center;
}

.footer-block .footer-wrap .content .content-left img {
  margin-bottom: 2rem;
}

.footer-block .footer-wrap .content .content-left p {
  color: #FFFFFF;
}

.footer-block .footer-wrap .content .content-right {
  display: flex;
  justify-content: space-between;
  margin-top: 15rem;
}

.footer-block .footer-wrap .content .content-right p {
  color: #FFFFFF;
}

.footer-block .footer-wrap .content .content-right .detail-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 3.5rem;
  font-size: 2rem;
  font-family: 'Noto Sans JP', serif;
  font-weight: 400;
  margin-right: 4vw;
}

.footer-block .footer-wrap .content .content-right .detail-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 3.5rem;
  font-size: 2rem;
  font-family: 'Noto Sans JP', serif;
  font-weight: 400;
}

.ly_footer {
  font-weight: 100;
  font-size: 2rem;
  font-family: 'Noto Sans JP', serif;
  color: #FFFFFF;
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
}

/* CSS FOR DEVICES*/
.header-sp {
  display: none;
}

.jinso-service-block-sp {
  display: none;
}

.footer-block-sp {
  display: none;
}

.jinsobraidal_logo {
  display: block;
  background: url(./img/pc/jinsobraidal_logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 110px;
  height: 95px;
  border: none;
}

.nnr_logo {
  display: block;
  background: url(./img/pc/nnr_logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 125px;
  height: 85px;
  border: none;
}

.question-button {
  display: block;
  background: url(./img/pc/btn.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 250px;
  height: 55px;
  border: none;
}


@media only screen and (max-width: 1115px) {
  .container {
    width: 90%;
  }

  .navigation li a {
    font-size: 1.2vw;
    padding: 0 3vw;
  }

  .footer-block .footer-wrap .content .content-left {
    line-height: 3vw;
    font-size: 1.5vw;
  }

  .footer-block .footer-wrap .content .content-left .btn-access {
    font-size: 1.5vw;
  }

  .footer-block .footer-wrap .content .content-right .detail-left {
    line-height: 3.5vw;
    font-size: 1.5vw;
  }

  .footer-block .footer-wrap .content .content-right .detail-right {
    line-height: 3.5vw;
    font-size: 1.5vw;
  }

  .ly_footer {
    font-size: 1.6vw;
  }

  .jinsobraidal_logo {
    width: 11vw;
    height: 9vw;
  }

  .nnr_logo {
    width: 13vw;
    height: 7vw;
  }

  .question-button {
    width: 19vw;
    height: 4vw;
  }
}


/* CSS FOR TABLET */
@media only screen and (min-width: 769px) and (max-width: 991px) {
  /*  */
}

/* CSS FOR SP */
@media only screen and (max-width: 768px) {
  .santen-button {
    display: block;
    background: url(./img/sp/menu_icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 9vw;
    height: 9vw;
    border: none;
  }

  .header {
    display: none;
  }

  .jinso-service-block {
    display: none;
  }

  .footer-block {
    display: none;
  }

  .header-sp {
    display: block;
  }

  .jinso-service-block-sp {
    display: block;
  }

  .footer-block-sp {
    display: block;
    position: relative;
    background-image: url("../img/sp/sp_footer_bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 158vw;
  }

  .top-page-sp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
  }

  .top-page-sp .logo {
    display: flex;
    align-items: center;
  }

  .top-page-sp img {
    width: 70%;
  }

  .top-page-sp .contact-info {
    display: flex;
    align-items: center;
    gap: 2vw;
  }

  .top-page-sp .contact-info .phone {
    display: flex;
    flex-direction: column;
    line-height: 3vw;
  }

  .top-page-sp .contact-info .phone .phone-number {
    font-size: 3vw;
    font-weight: 900;
    color: #c97373;
    font-family: 'Noto Sans JP', serif;
  }

  .top-page-sp .contact-info .phone .phone-description {
    font-size: 1.5vw;
    font-family: 'Noto Sans JP', serif;
    font-weight: 400;
    color: #232323;
  }

  .footer-block-sp .footer-wrap-sp {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: -webkit-center;
    width: 90%;
    margin: 0 auto;
  }

  .footer-block-sp .footer-wrap-sp .btn-download {
    font-size: 2vw;
    border: none;
    background: #fff;
    font-weight: 500;
    margin-top: 14vw;
  }

  .footer-block-sp .footer-wrap-sp .btn-download a {
    text-decoration: none;
    padding: 10px 80px;
    display: flex;
    color: #AF7171;
    align-items: center;
  }

  .footer-block-sp .content {
    display: flex;
    flex-direction: column;
    margin-top: 26vw;
    margin-bottom: 3vw;
  }

  .footer-block-sp .content-up {
    display: flex;
    justify-content: space-between;
  }

  .footer-block-sp .border-bottom {
    border-bottom: 1px solid white;
    margin: 2vw 0;
  }

  .footer-block-sp .content-up .detail-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 7vw;
    font-size: 3vw;
    font-family: 'Noto Sans JP', serif;
    font-weight: 400;
    color: #fff;
  }

  .footer-block-sp .content-up .detail-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 7vw;
    font-size: 3vw;
    font-family: 'Noto Sans JP', serif;
    font-weight: 400;
    color: #fff;
  }

  .footer-block-sp .content-down {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 7vw;
    font-size: 3vw;
    font-family: 'Noto Sans JP', serif;
    font-weight: 400;
    color: #fff;
  }

  .ly_footer_sp {
    font-weight: 100;
    font-size: 3.5vw;
    font-family: 'Noto Sans JP', serif;
    color: #FFFFFF;
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
  }

  .jinsobraidal_logo {
    width: 14vw;
    height: 12vw;
  }

  .nnr_logo {
    width: 16vw;
    height: 10vw;
  }
}

@media only screen and (max-width: 525px) {
  .footer-block-sp {
    height: 180vw;
  }
}

@media only screen and (max-width: 450px) {
  .footer-block-sp {
    height: 190vw;
  }
}